---
import MainLayout from '../../layouts/MainLayout.astro';
import PageHeader from '../../components/PageHeader.astro';
import Sidebar from '../../components/blog/Sidebar.astro';
import DateIcon from '../../assets/articles/post-check.png';
import CommentIcon from '../../assets/articles/comment.png';
import AuthorIcon from '../../assets/articles/author.svg';
import { Button } from '../../components/ui/button';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

type Article = {
  id: string;
  body: string;
  data: ArticleData;
  slug: string;
};

type ArticleData = {
  title: string;
  slug: string;
  author: string;
  date: string;
  data: string;
  image: ImageMetadata;
  imageAlt: string;
  popular: boolean;
};

export async function getStaticPaths({ paginate }: any) {
  const allArticles = await getCollection('articles');

  return paginate(allArticles, { pageSize: 3 });
}

const { page }: any = Astro.props;
const baseUrlCheck = String(Astro.url).split('/').at(-1) === 'blog';
---

<MainLayout>
  <div class='mt-20'>
    <PageHeader pageUrl='/blog' title='Blog' />
    <div
      class='px-4 max-w-[--max-width-content] mx-auto lg:grid grid-cols-[1fr_370px] gap-12 mt-20'
    >
      <Sidebar />
      <ul class='mx-auto md:order-1 mt-10 lg:mt-0'>
        {
          page.data.map((article: Article) => (
            <li>
              <Image src={article.data.image} alt={article.data.imageAlt} />
              <div class='flex gap-2 mt-6 mb-4 text-[--clr-font] font-montserrat font-medium text-sm text-[0.938rem] flex-wrap'>
                <div class='flex items-center justify-center gap-2'>
                  <img src={DateIcon.src} alt='' />
                  <p>{article.data.date}</p>
                </div>
                <div class='flex items-center justify-center gap-2'>
                  <img src={AuthorIcon.src} alt='' />
                  <p>{article.data.author}</p>
                </div>
                <div class='flex items-center justify-center gap-2'>
                  <img src={CommentIcon.src} alt='' />
                  <p>No comments</p>
                </div>
              </div>
              <h2 class='font-gothamRounded font-bold text-[2rem] text-[--clr-green-03]'>
                {article.data.title}
              </h2>
              <p class='font-montserrat text-sm text-[--clr-font] leading-loose my-4'>
                {article.body}
              </p>
              <a href={!baseUrlCheck ? `${article.slug}` : `blog/${article.slug}`}>
                <Button
                  variant={'leaf'}
                  size={'leafLg'}
                  className='tracking-widest font-gothamRounded font-medium mt-2 mb-8'
                >
                  READ MORE
                </Button>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <div
        class='flex gap-4 font-montserrat font-medium mb-10 mt-4 max-w-[--max-width-content] mx-auto px-4'
      >
        <!-- Back button -->
        {
          page.currentPage !== 1 ? (
            <a href={`${Astro.url.pathname.slice(0, -2)}`}>
              <Button className='rounded-full py-4 w-[60px] h-[60px] text-center border bg-white text-[--clr-font] text-3xl'>
                «
              </Button>
            </a>
          ) : null
        }
        <!-- Pages -->
        {
          page.url.prev ? (
            <a href={page.url.prev}>
              <Button className='rounded-full py-4 w-[60px] h-[60px] text-center border bg-white text-[--clr-font]'>
                {page.currentPage - 1}
              </Button>
            </a>
          ) : null
        }
        {
          (
            <a href={page.url.current}>
              <Button className='rounded-full py-4 w-[60px] h-[60px] text-center border bg-[--clr-green-01] text-white'>
                {page.currentPage}
              </Button>
            </a>
          )
        }
        {
          page.url.next ? (
            <a href={page.url.next}>
              <Button className='rounded-full py-4 w-[60px] h-[60px] text-center border bg-white text-[--clr-font]'>
                {page.currentPage + 1}
              </Button>
            </a>
          ) : null
        }

        <!-- Next button -->
        {
          page.currentPage != page.lastPage ? (
            <a href={`/blog/${page.lastPage}`}>
              <Button className='rounded-full py-4 w-[60px] h-[60px] text-center border bg-white text-[--clr-font] text-3xl'>
                »
              </Button>
            </a>
          ) : null
        }
      </div>
    </div>
  </div>
</MainLayout>
